// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// colors //

$Primaire: #9356dc;
$Secondaire: #ff79da;
$Tertiaire: #99e2d0;

$Ligter-primaire: #f5edff;

$Background: #f7f7f7;

$icon-colors: #7e7e7e;

$darker: #353535;

$Tertiare-darker: #008766;
