// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// colors //

$Primaire: #9356dc;
$Secondaire: #ff79da;
$Tertiaire: #99e2d0;

$Ligter-primaire: #f5edff;

$Background: #f7f7f7;

$icon-colors: #7e7e7e;

$darker: #353535;

$Tertiare-darker: #008766;

$gradient: linear-gradient(#ff79da 5.2%, #9356dc 110.74%);
$gradient-lighter: linear-gradient(
  rgba(255, 141, 218, 1) 5.2%,
  rgba(147, 106, 220, 1) 110.74%
); ;
