@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
body {
  font-family: "Roboto", sans-serif;
}

.bolder {
  font-weight: 700;
  font-size: 1.125rem;
}

.medium {
  font-weight: 500;
  font-size: 1rem;
}

.lighter {
  font-weight: 300;
  font-size: 1.0625rem;
}

.bigger {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.bignlight {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.name-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  font-weight: 400;
}

.entreplatdessert {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: inherit;
  background: none;
}

.header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding-block: 3rem;
  position: relative;
}
.header__back {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
  color: #353535;
  transition: color 0.25s ease-in-out;
}
.header__back:hover {
  color: #9356dc;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 162px;
}

.footer {
  background-color: #353535;
  padding: 1.375rem 0 2.0625rem 1.5625rem;
}
.footer__nav__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0.4375rem;
}
.footer__nav__list__item:nth-child(-n+2) {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.footer__nav__logo {
  max-width: 7rem;
  color: white;
  padding-bottom: 1rem;
}

.fa-handshake {
  transform: rotate(-35deg);
  width: 11px;
  height: 13px;
}

.fa-utensils {
  width: 11px;
  height: 13px;
}

.fonctionnement__grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5625rem;
}

.restaurants__grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.menu-flexbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu-flexbox > :nth-child(1) {
  opacity: 0;
  animation: appear 0.41s ease-out 0.15s forwards;
  transform: translateX(15%);
}
.menu-flexbox > :nth-child(2) {
  opacity: 0;
  animation: appear 0.67s ease-out 0.3s forwards;
  transform: translateX(20%);
}
.menu-flexbox > :nth-child(3) {
  opacity: 0;
  animation: appear 0.93s ease-out 0.45s forwards;
  transform: translateX(25%);
}
.menu-flexbox > :nth-child(4) {
  opacity: 0;
  animation: appear 1.19s ease-out 0.6s forwards;
  transform: translateX(30%);
}
.menu-flexbox > :nth-child(5) {
  opacity: 0;
  animation: appear 1.45s ease-out 0.75s forwards;
  transform: translateX(35%);
}

.button {
  display: inline-block;
  background: linear-gradient(#ff79da 5.2%, #9356dc 110.74%);
  box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5625em;
  color: white;
  padding: 0.8125em 1.171875em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  transition: background 0.2s ease-in-out, box-shadow 0.4s ease-out;
  font-size: 1rem;
  font-weight: 500;
}
.button:hover {
  background: linear-gradient(rgb(255, 141, 218) 5.2%, rgb(147, 106, 220) 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.commander {
  padding: 0.8125em 3em;
}

.heart {
  margin-right: 1rem;
  width: 21px;
  height: auto;
  cursor: pointer;
}
.heart path {
  stroke-width: 30;
  stroke: black;
  fill-opacity: 0;
  stroke-dasharray: 1520;
  stroke-dashoffset: 0;
  transition: all 0.6s linear;
}
.heart path:hover {
  fill-opacity: 1;
  stroke-linecap: round;
  stroke: #ff79da;
  stroke-width: 15;
  stroke-dashoffset: 1220;
  animation: line-heart 1.2s linear 0.6s infinite;
}

@keyframes line-heart {
  0% {
    stroke-dasharray: 300 1220;
    stroke-dashoffset: 1520;
    stroke-width: 15;
    stroke: #ff79da;
  }
  50% {
    stroke: #9356dc;
  }
  100% {
    stroke-dasharray: 300 1220;
    stroke-dashoffset: 3040;
    stroke-width: 15;
    stroke: #ff79da;
  }
}
.box {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}
.box__wrapper-img {
  position: relative;
}
.box__wrapper-img__item {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 100%;
}
.box__wrapper-img__new {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.25em 0.5625em;
  color: #008766;
  background-color: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.box__wrapper-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8125rem;
}

.contener {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #f7f7f7;
  padding-block: 1.8125rem;
  padding-left: 2.125rem;
  border-radius: 1.25rem;
  position: relative;
  transition: 0.2s background-color ease-in-out;
}
.contener__icon {
  color: #7e7e7e;
  transition: 0.2s color ease-in-out;
}
.contener__number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 0.875rem;
  color: white;
  background-color: #9356dc;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 150%;
}
.contener:hover {
  cursor: pointer;
  background-color: #f5edff;
}
.contener:hover .contener__icon {
  color: #9356dc;
}

.menu-box {
  background-color: white;
  display: flex;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.9375em;
  overflow: hidden;
  cursor: pointer;
}
.menu-box:hover .menu-box__check {
  width: 3.75rem;
  transform: scaleX(1);
}
.menu-box__wrapper-txt {
  display: flex;
  width: 100%;
}
.menu-box__wrapper-txt__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}
.menu-box__wrapper-txt__description__item {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-box__wrapper-txt__prix {
  align-self: end;
  padding: 0 1rem 1rem 0;
}
.menu-box__check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #99e2d0;
  width: 0rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.main-menu__title {
  position: relative;
}
.main-menu__title::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  bottom: -5px;
  left: 0;
  transition: 0.4s ease-in-out;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1.25rem 4rem 1.25rem;
  background-color: #f7f7f7;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
}

.reserver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6875rem;
  text-align: center;
  background-color: #f7f7f7;
  padding: 3rem 1.25rem 4rem 1.25rem;
}
.reserver__text {
  color: #353535;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  background-color: #eaeaea;
}
.location__icon {
  color: #353535;
}
.location__text {
  color: #353535;
}

.photo-header__item {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 17.1875rem;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  position: relative;
  padding: 2rem 1rem;
  border-radius: 2.5rem 2.5rem 0 0;
  width: 100%;
  z-index: 1;
  margin-top: -3rem;
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem 2rem;
  align-items: center;
}

.flexbuttoncommander {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */