// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts/' as abst;

.footer {
  background-color: abst.$darker;
  padding: 4rem 1.5625rem 1.875rem 1.5625rem;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;

    @include abst.large {
      align-items: center;
      flex-direction: row-reverse;
      gap: 4.375rem;
      padding-right: 6.25rem;
    }

    &__list {
      padding: 0;
      display: flex;
      flex-direction: column;
      color: white;
      gap: 0.4375rem;

      @include abst.large {
        flex-direction: row;
        gap: 1rem;
      }

      &__item {
        white-space: nowrap;

        &:nth-child(-n + 2) {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 500;
        }
        &:nth-child(2) {
          margin-right: 2rem;
        }
      }
    }
    &__logo {
      max-width: 7rem;
      color: white;
    }
  }
}

.fa-handshake {
  transform: rotate(-35deg);
  width: 11px;
  height: 13px;
}

.fa-utensils {
  width: 11px;
  height: 13px;
}
