@use '../abstracts/' as abst;

.fonctionnement {
  &__grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5625rem;
    @include abst.large {
      display: flex;
      justify-content: space-between;
    }
  }
}

.restaurants {
  &__grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1.125rem;

    @include abst.large {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      column-gap: 9.259%;
      row-gap: 3.125rem;
    }
  }
}

.menu-flexbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  @include abst.delay(5, 0.2s);
}
