.fonctionnement {
  &__grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5625rem;
  }
}

.restaurants {
  &__grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }
}
