@use "../abstracts/" as abst;

.box {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;

  &__wrapper-img {
    &__item {
      object-fit: cover;
      height: 175px;
      width: 100%;
    }
  }

  &__wrapper-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8125rem;

    &__heart {
      margin-right: 1rem;
      width: 21px;
      height: auto;
      cursor: pointer;

      path {
        stroke-width: 30;
        stroke: black;
        fill-opacity: 0;

        stroke-dasharray: 1520;
        stroke-dashoffset: 0;

        transition: fill-opacity 0.6s ease-in;

        &:hover {
          fill-opacity: 1;
          animation: animation-heart 1s ease-in-out forwards;
        }
      }
    }
  }
}

@keyframes animation-heart {
  0% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: 1520;
    stroke: #ff79da;
  }

  100% {
    stroke-dashoffset: 3040;
    stroke: #9356dc;
    stroke-opacity: 0;
  }
}
