// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use '../abstracts/' as abst;

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1.25rem 4rem 1.25rem;
  background-color: abst.$Background;
}
.wrapper-space {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
}

.reserver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6875rem;
  text-align: center;
  background-color: abst.$Background;
  padding: 3rem 1.25rem 4rem 1.25rem;
  @include abst.medium {
    padding: 1.875rem 1.25rem;
  }

  &__text {
    color: abst.$darker;
    font-size: 1.125rem;
  }
  &__title {
    font-size: 1.5rem;
    @include abst.medium {
      font-size: 2.5rem;
    }
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  background-color: #eaeaea;

  &__icon {
    color: abst.$darker;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translate(50%, -50%);
  }

  &__text {
    color: abst.$darker;
    background: none;
    width: fit-content;
    border: none;
    text-align: center;

    &::placeholder {
      color: black;
      padding-left: 0.5rem;
    }
  }
}

.wrapper-input {
  position: relative;
}
