@use "../abstracts/" as abst;

.photo-header {
  &__item {
    object-fit: cover;
    max-height: 17.1875rem;
    width: 100%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: abst.$Background;
  position: relative;
  padding: 3rem 1rem;
  border-radius: 2.5rem 2.5rem 0 0;
  width: 100%;
  z-index: 1;
  margin: -3rem auto 0;
  overflow: hidden;
  gap: 2.5rem;
  max-width: 65.9375rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 39.625rem;

    @include abst.medium {
      justify-content: center;
      gap: 1.5rem;
    }
  }
}

.flexbuttoncommander {
  display: flex;
  align-items: center;
  justify-content: center;
}
