@use "../abstracts/" as abst;

.photo-header {
  &__item {
    object-fit: cover;
    max-height: 17.1875rem;
    width: 100%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  background: abst.$Background;
  position: relative;
  padding: 3rem 1rem;
  border-radius: 2.5rem 2.5rem 0 0;
  width: 100%;
  z-index: 1;
  margin-top: -3rem;
  overflow: hidden;
  gap: 2.5rem;

  //@include abst.delay2(5, 0.4s);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flexbuttoncommander {
  display: flex;
  align-items: center;
  justify-content: center;
}
